<p>Mercury is the first of our nine planets in the solar system, and the closest one to the sun. It also happens to be the smallest planet. Althout it is closest to the sun, Venus is actually hotter than Mercury beause it has a solid surface unlike Venus.</p>
